<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bordspelavond</title>
    <link href="http://fonts.cdnfonts.com/css/broadway" rel="stylesheet">
    <link rel="icon" href="~/img/Icon website.png" type="image/icon type" class="logo">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Bordspelavond.styles.css" asp-append-version="true" />
</head>
<body>
<header class="test">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/Icon website.png" height="60px" class="logo"/>
            </a>
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Bordspelavond</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="GameNight" asp-action="AvailableGameNights">Spelavonden</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle text-white" data-toggle="dropdown" data-bs-toggle="dropdown">
                            Beheer
                        </a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Account</h6>
                            <a class="dropdown-item nav-link text-dark" asp-controller="User" asp-action="Index">Mijn gegevens</a>
                            <a class="dropdown-item nav-link text-dark" asp-controller="GameNight" asp-action="Index">Ingeschreven spelavonden</a>
                            @if (User.HasClaim("Organizer", "Organizer"))
                            {
                                <h6 class="dropdown-header">Organisatie</h6>
                                <a class="dropdown-item nav-link text-dark" asp-controller="BoardGame" asp-action="AddGame">Spel Toevoegen</a>
                                <a class="dropdown-item nav-link text-dark" asp-controller="BoardGame" asp-action="Index">Mijn Spellen</a>
                                <a class="dropdown-item nav-link text-dark" asp-controller="GameNight" asp-action="CreateGameNight">Spelavond organizeren</a>
                                <a class="dropdown-item nav-link text-dark" asp-controller="User" asp-action="GameNights">Mijn Spelavonden</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial"/>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted fixed-bottom" id="footer" style="color: #553fe8">

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
