

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spel toevoegen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="http://fonts.cdnfonts.com/css/broadway" rel="stylesheet">

</head>
<body>
<h3>Jij beschikt niet over de benodigde rechten om deze functie uit te mogen voeren</h3>
<form action="/Home/Index">
    <button class="btn btn-primary">Terug naar homepagina</button>
</form>
</body>
